.DS_Store
/*/.idea/*
Demo8/net/*
Demo9/dataset/*
Demo9/17flowers.tar
Demo9/inception_log/events.out.tfevents.1642514023.192.168.1.17
Demo9/inception_model/*
Demo9/images.tar
Demo10/data.bin
Demo10/models/
Demo11/captcha/
Demo11/nets/
Demo12/text8.zip
Demo12/tsne.png
Demo13/__pycache__/
Demo13/data/
demo13/runs/
